{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-declaration-block-no-ignored-properties",
    "stylelint-declaration-strict-value",
    "stylelint-no-browser-hacks/lib",
    "stylelint-z-index-value-constraint",
    "stylelint-a11y"
  ],
  "rules": {
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "/^my-awesome-custome-/",
          "custom-type"
        ]
      }
    ],
    "plugin/declaration-block-no-ignored-properties": true,
    "scale-unlimited/declaration-strict-value": [
      "color",
      "z-index"
    ],
    "plugin/no-browser-hacks": [
      true,
      {
        "browsers": [
          "last 2 versions",
          "ie >=7"
        ]
      }
    ],
    "plugin/z-index-value-constraint": {
      "min": 1,
      "max": 10
    },
    "a11y/media-prefers-reduced-motion": true,
    "a11y/no-outline-none": true,
    "a11y/selector-pseudo-class-focus": true,
    "a11y/font-size-is-readable": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/line-height-is-vertical-rhythmed": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/no-display-none": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/no-obsolete-element": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/no-text-align-justify": [
      true,
      {
        "severity": "warning"
      }
    ]
  }
}
