{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-declaration-block-no-ignored-properties",
    "stylelint-declaration-strict-value",
    "stylelint-no-browser-hacks/lib",
    "stylelint-z-index-value-constraint"
  ],
  "rules": {
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "/^survey-builder-/",
          "custom-type"
        ]
      }
    ],
    "plugin/declaration-block-no-ignored-properties": true,
    "scale-unlimited/declaration-strict-value": [
      "color",
      "z-index"
    ],
    "plugin/no-browser-hacks": [
      true,
      {
        browsers: [
          "last 2 versions",
          "ie >=7"
        ]
      }
    ],
    "plugin/z-index-value-constraint": {
      "min": 1,
      "max": 10
    }
  }
}
