:root {
  --body-bg: #536dfe;

  --brand-main-color: #fff;
  --brand-second-color: #40e7b8;

  --l-io17-hashtag-holder-width: 10.2em;
  --l-io17-hashtag-holder-height: 10.2em;

  --hashtag__item_v-width: 0.5em;
  --hashtag__item_v-height: 2.5em;
  --hashtag__item_h-width: 0.5em;
  --hashtag__item_h-height: 2.5em;

  --i__dot-item-width: 1.8em;
  --i__dot-item-height: 1.8em;
  --i__stick-item-width: 1.25em;
  --i__stick-item-height: 10.3em;

  --l-io17-o-holder__item-width: 8.8em;
  --l-io17-o-holder__item-height: 12em;
  --o__item-height: 2.5em;
  --o__item-width: 0.4em;

  --io17-digit__item-width: 1.125em;
  --io17-digit__item-height: 13.25em;

  --io17-digit2__item-part1-width: 6.2em;
  --io17-digit2__item-part1-height: var(--io17-digit__item-width);

  --io17-digit2__item-part2-width: var(--io17-digit__item-width);
  --io17-digit2__item-part2-height: 14.5em;
}

body {
  background-color: var(--body-bg);
}

/* io17 holder
--------------------------------------------------------*/
.l-io17-holder {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10em;
}

/* io17 hashtag
--------------------------------------------------------*/
.l-io17-hashtag-holder,
.io17-hashtag__line {
  display: flex;
}

.l-io17-hashtag-holder {
  flex-direction: column;
  width: var(--l-io17-hashtag-holder-width);
  height: var(--l-io17-hashtag-holder-height);
}

.io17-hashtag__line_1st,
.io17-hashtag__line_2d,
.io17-hashtag__line_3d,
.io17-hashtag__line_4th,
.io17-hashtag__line_5th {
  justify-content: space-around;
  align-items: center;
}

.io17-hashtag__line_2d,
.io17-hashtag__line_4th {
  height: calc(var(--hashtag__item_v-width) + 0.4em);
}

.io17-hashtag__item {
  position: relative;
}

.io17-hashtag__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-main-color);
}

.io17-hashtag__item_v {
  width: var(--hashtag__item_v-width);
  height: var(--hashtag__item_v-height);
}

.io17-hashtag__item_v:nth-child(1) {
  margin-left: 1.693em;
}

.io17-hashtag__item_v:nth-child(2) {
  margin-right: 1.645em;
}

.io17-hashtag__item_h {
  width: var(--hashtag__item_h-width);
  height: var(--hashtag__item_h-height);
  transform: rotate(90deg);
}

/* i
--------------------------------------------------------*/
.l-io17-i-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--i__dot-item-width);
  margin: 0 0 0 2.4em;
  justify-content: flex-end;
  position: relative;
}

.io17-i__dot-item {
  width: var(--i__dot-item-width);
  height: var(--i__dot-item-height);
  background-color: var(--brand-main-color);
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  top: 0;
  animation: io17-i__dot-item 1.5s 0.6s infinite ease;
  transform-origin: top center;
}

.io17-i__stick-item {
  width: var(--i__stick-item-width);
  height: var(--i__stick-item-height);
  background-color: var(--brand-second-color);
  animation: io17-i__stick-item 1.5s 0.6s infinite ease;
  transform-origin: bottom center;
  position: absolute;
  z-index: 4;
}

/* o
--------------------------------------------------------*/
.l-io17-o-holder {
  position: relative;
  margin: 2.5em 0 0 0;
  width: calc(var(--l-io17-o-holder__item-height) + 1em);
  left: 0.6em;
}

.l-io17-o-holder__item {
  display: flex;
  width: var(--l-io17-o-holder__item-width);
  height: var(--l-io17-o-holder__item-height);
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.io17-o__item {
  height: var(--o__item-height);
  width: var(--o__item-width);
  background-color: var(--brand-second-color);
}

.l-io17-o-holder__item .io17-o__item {
  transform: rotate3d(0, 0, 1, -60deg);
  animation: io17-o__item 2s 0.1s infinite ease;
}

.l-io17-o-holder__item:nth-child(1) {
  transform: rotate(5deg);
}

.l-io17-o-holder__item:nth-child(2) {
  transform: rotate(25deg);
}

.l-io17-o-holder__item:nth-child(3) {
  transform: rotate(45deg);
}

.l-io17-o-holder__item:nth-child(4) {
  transform: rotate(65deg);
}

.l-io17-o-holder__item:nth-child(5) {
  transform: rotate(85deg);
}

.l-io17-o-holder__item:nth-child(6) {
  transform: rotate(105deg);
}

.l-io17-o-holder__item:nth-child(7) {
  transform: rotate(125deg);
}

.l-io17-o-holder__item:nth-child(8) {
  transform: rotate(145deg);
}

.l-io17-o-holder__item:nth-child(9) {
  transform: rotate(165deg);
}

/* 1
--------------------------------------------------------*/
.l-io17-digit-holder {
  margin-left: 2em;
  display: flex;
}

.l-io17-digit1-holder {
  width: var(--io17-digit__item-width);
  height: var(--io17-digit__item-height);
  display: flex;
  position: relative;
  flex-direction: column;
}

.io17-digit1__item {
  background-color: var(--brand-second-color);
  height: 100%;
  position: relative;
}

/* Additional stick for 1
--------------------------------------------------------*/
.io17-digit1__item::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--brand-main-color);
  position: absolute;
  top: 0;
  right: -10px;
  bottom: 0;
  z-index: -1;
}

/* 7
--------------------------------------------------------*/
.l-io17-digit2-holder {
  display: flex;
  width: 8em;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.io17-digit2__item-part1,
.io17-digit2__item-part2 {
  position: absolute;
}

.io17-digit2__item-part1 {
  width: var(--io17-digit2__item-part1-width);
  height: var(--io17-digit2__item-part1-height);
  background-color: var(--brand-second-color);
  align-self: flex-start;
  left: 2.5em;
  z-index: 4;
}

.io17-digit2__item-part1::before {
  content: "";
  position: absolute;
  left: -33%;
  top: 0;
  width: 33%;
  height: 100%;
  background-color: var(--body-bg);
  animation: io17-digit2__item-part1 1.5s 0.1s infinite ease-in-out;
}

.io17-digit2__item-part2 {
  width: var(--io17-digit2__item-part2-width);
  height: var(--io17-digit2__item-part2-height);
  transform: rotate(27deg);
  top: -0.4em;
  z-index: 5;
}

.io17-digit2__item-part2::before {
  content: "";
  background-color: var(--brand-main-color);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  animation: io17-digit2__item-part2 1.5s 0s infinite ease-in-out;
  transform-origin: bottom center;
}

/* @keyframes io17-digit2__item-part2
--------------------------------------------------------*/

@keyframes io17-digit2__item-part2 {
  from {
    height: var(--io17-digit2__item-part2-height);
  }

  to {
    /* height: 7.25em; */
    height: calc(var(--io17-digit2__item-part2-height) / 2);
  }
}

/* @keyframes io17-digit2__item-part1
--------------------------------------------------------*/
@keyframes io17-digit2__item-part1 {
  from {
    left: -33%;
  }

  to {
    left: 133%;
  }
}

/* @keyframes io17-o__item rotate
--------------------------------------------------------*/
@keyframes io17-o__item {
  from, 40% {
    transform: rotate3d(0, 0, 1, -60deg);
  }

  80%, to {
    transform: rotate3d(0, 0, 1, -88deg);
  }
}

/* @keyframes io17-i__stick-item
--------------------------------------------------------*/
@keyframes io17-i__stick-item {
  from {
    height: var(--i__stick-item-height);
  }

  30% {
    height: calc(var(--i__stick-item-height) - calc(var(--i__stick-item-height) / 3));
  }

  80% {
    height: calc(var(--i__stick-item-height) + calc(var(--i__stick-item-height) / 3));
  }

  to {
    height: var(--i__stick-item-height;
  }
}

/* @keyframes io17-i__dot-item
--------------------------------------------------------*/
@keyframes io17-i__dot-item {
  from {
    top: 0;
  }

  30% {
    top: calc(var(--i__stick-item-height) - calc(var(--i__stick-item-height) / 1.8));
  }

  to {
    top: calc(var(--i__stick-item-height) - var(--i__stick-item-height) - calc(var(--i__stick-item-height) / 4));
  }
}
