html {
  height: 100%;
  direction: ltr;

  &.html-ltr {
    direction: ltr;
  }

  &.html-center {
    survey-builder-content,
    .sv-main-content {
      text-align: center;
      input,
      select {
        text-align: center;
      }
    }
  }

  &.html-rtl {
    survey-builder-content {
      direction: rtl;

      .survey-builder-component-title-holder .survey-builder-component-title-prefix {
        float: right;
      }
      .pull-right {
        float: left !important;
      }

      .pull-left {
        float: right !important;
      }
    }
  }
}

body {
  height: 100%;
   > .container-fluid {
    height: 100%;
  }
}
